@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    scroll-behavior: smooth !important;
    -webkit-scroll-behavior: smooth !important;
}

body {
    background: url(../img/background.png) no-repeat center center fixed;
    background-size: cover;
    color: #fefcfd;
    font-family: 'Outfit';
    height: 100%;
    padding-top: 124px;
}

.glitch-bg {
    background: url(../img/background-glitch.png) no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card-box {
    background-color: #fefcfd;
    border-radius: 10px;
    margin: 0 auto;
    padding: 64px 48px 64px 48px;
    width: fit-content;
    position: relative;
}

.card-box img {
    border-radius: 10px;
}

.card-box .card-box {
    background-color: #fefcfd;
    border-radius: 10px;
    margin: 0 auto;
    padding: 24px;
    width: 168px;
    height: 200px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.card-box .card-box:hover {
    top: -15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.card-box-margin-bottom {
    margin-bottom: 64px;
}

.card-box-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.card-box-border {
    border: 1px solid #463ac5;
    border-radius: 10px;
    padding: 24px;
}

.card-box .title {
    color: #222;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.card-box .description {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.back-btn {
    position: relative;
    left: 0;
    transition: left 0.5s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px)
    }
}

.back-btn:hover {
    animation-name: bounce;
}

p {
    font-size: 14px;
    margin: 0;
    font-family: "Outfit";
    color: #222;
    background-color: rgba(0, 0, 0, 0) !important;
}

span {
    background-color: rgba(0, 0, 0, 0) !important;
}

input {
    background-color: rgba(0, 0, 0, 0) !important;
}

select {
    background-color: rgba(0, 0, 0, 0) !important;
}

.invert {
    filter: invert(100%);
}

.cover {
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.pet-data {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #fefcfd;
}

.image-upload {
    appearance: none;
    background-color: #463ac5;
}

.no-arrow input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pointer:hover {
    cursor: pointer;
}

.pet-card-background {
    background-image: url(../img/pet-card-bg.png);
    background-size: cover;
}

.keeper-card-background {
    background-image: url(../img/keeper-card-bg.png);
    background-size: cover;
}

.small-card-box {
    border-radius: 10px;
    padding: 24px 100px 24px 24px;
    margin: 12px 12px 12px;
    width: fit-content;
    width: 100%;
    position: relative;
}

.small-card-box .pet-data {
    font-size: 16px;
}

.small-card-box p {
    font-size: 12px;
}

.small-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    min-width: 40%;
}

.centered-wrapper {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-update-delete {
    padding-left: 24px;
    margin-left: auto;
    margin-right: 0;
}

.small-card-box a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #222;
}

#pet-image {
    border-radius: 10px;
}

.form-group {
    border: 0 0 1px 0;
    font-family: "Outfit";
    font-size: 18px;
}

.input-underline {
    border: 0;
    width: fit-content;
    padding: 0 12px 0 12px;
    border-bottom: 2px solid #463ac5;
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: "Outfit";
    font-size: 18px;
}

.input-underline span {
    border: 0;
    width: fit-content;
    color: #222;
    padding: 0;
    font-weight: 500;
}

.input-box {
    border: 0;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: "Outfit";
    font-size: 18px;
}

.input-box:focus, input:focus {
    outline: none;
}

.input-box::-webkit-outer-spin-button,
.input-box::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-box[type=number] {
    -moz-appearance: textfield;
}

.input-box:focus {
    background-color: yellow;
}

.calendar-table {
    color: #222;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

/* kl = keeper list */
.kl h1 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    border: none;
    background-color: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.kl h2 {
    font-size: 20px;
    color: #222;
    border: none;
    background-color: none;
}

.kl p {
    font-size: 18px;
    color: #222;
    border: none;
    background-color: none;
}

.kl-card-box {
    border-radius: 10px;
    padding: 32px;
    margin: 12px 12px 12px;
    width: 500px;
    position: relative;
}

/* kr = keeper reviews */
.kr-card-box {
    border-radius: 10px;
    padding: 32px;
    margin: 12px 12px 12px;
    width: 800px;
    position: relative;
    transform: translateY(25%);
    background-color: #fefcfd;
}

.kr-card-box h2 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    border: none;
    background-color: none;
}

.kr-card-box h3 {
    font-size: 20px;
    color: #222;
    border: none;
    background-color: none;
}

.kr-card-box h4 {
    font-size: 18px;
    color: #222;
    border: none;
    background-color: none;
}

.kr-card-box p {
    font-size: 18px;
    color: #222;
    border: none;
    background-color: none;
    max-width: 600px;
}

.kr-comment-box {
    white-space: wrap;
    padding: 12px 0px 12px 0px;
}

.light-text-color {
    color: rgba(34, 34, 34, 0.3);
}

.opr-card-box {
    background-color: #fefcfd;
    border-radius: 10px;
    margin: 0 auto;
    padding: 64px 48px 64px 48px;
    width: fit-content;
    position: relative;
}

.opr-card-box h2 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    border: none;
    background-color: none;
}

.opr-card-box h3 {
    font-size: 20px;
    color: #222;
    border: none;
    background-color: none;
}

.opr-card-box h4 {
    font-size: 18px;
    color: #222;
    border: none;
    background-color: none;
}

.opr-card-box p {
    font-size: 18px;
    color: #222;
    border: none;
    background-color: none;
    max-width: 600px;
}

.opr-card-box select {
    font-size: 18px;
    color: #222;
    border: #222 1px solid;
    border-radius: 10px;
    background-color: none;
    padding: 4px;
    max-width: 600px;
}

.opr-card-box input {
    font-size: 17px;
    color: #222;
    border: #222 1px solid;
    border-radius: 10px;
    background-color: none;
    padding: 4px;
    max-width: 600px;
}

.circle {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  background: rgb(255, 67, 67);
  color: #fefcfd;
  text-align: center;
  font-size: 24px;
  font-family: 'Outfit';
}

/* Star icon */
.checked {
    color: orange;
}

/* Overwriting Bootstrap */
.container {
    scroll-behavior: smooth;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
}

.navbar-dark {
    background-color: #fefcfd00 !important;
}

.nav-text {
    color: #fefcfd !important;
    font-size: 24px;
    padding: 32px !important;
}

.navbar-brand {
    padding: 32px !important;
}

.btn-primary {
    font-size: 24px;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    transition: color 0.8s ease;
    background-color: #fefcfd !important;
    border-color: #fefcfd !important;
    color: #222 !important;
}

.btn-primary:hover {
    background-color: rgba(34, 34, 34, 0) !important;
    color: #fefcfd !important;
}

.btn-secondary {
    font-size: 16px;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    transition: background-color 0.3s ease;
    background-color: #463ac5 !important;
    border-color: #463ac5 !important;
    color: #fefcfd !important;
}

.btn-secondary:hover {
    background-color: #574ae2 !important;
}